.submit-button {
  padding: 0 12px;
  height: 2.25rem;
  border-radius: 6px;
  font-family: 'Inter Light';
  margin: 0;
  font-size: 14px;
  background-color: #555555;
  border: 1px solid transparent;
  color: white;
}
